html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    opacity: 1;
    transition: opacity 0.6s ease;
}

body.fade-out {
    opacity: 0;
}


body {
    font-family: Poppins;
    background: linear-gradient(to bottom, white, #c8e9ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.container {
    color: #153e58;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

title {
    font-family: Poppins;
    font-size: 400;
    font-size: 40px;
    color: #153e58;
}

h1 {
    opacity: 0;
    transform: translateY(-30px);
    animation: textAppear 2s ease forwards;
    text-align: center;
}

@keyframes textAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.Buttons {
    font-family: Poppins;
    font-size: 400;
    font-size: 20px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.heart {
    position: absolute;
    top: -20px;
    background: rgba(105, 178, 255);
    transform: rotate(45deg);
    animation: fall linear forwards;

    filter: blur(1.5px);
    box-shadow: 0 0 10px rgba(105, 243, 255);
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
}

.heart::before {
    top: -50%;
    left: 0;
}

.heart::after {
    left: -50%;
    top: 0;
}

@keyframes fall {
    to {
    transform: translateY(100vh) rotate(45deg);
    opacity: 0;
    }
}

.Buttons {
    text-align: center;
    margin-top: 25px;
    padding: 14px 35px;
    font-size: 1.1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(45deg, #ff4d88, #ff85a2);
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(255, 77, 136, 0.4);
}

/* Hover */
.Buttons:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(255, 77, 136, 0.6);
}

/* Click press */
.Buttons:active {
    transform: scale(0.95);
    box-shadow: 0 5px 15px rgba(255, 77, 136, 0.4);
}


