body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  /* font-family: poppins, sans-serif; */
  font-size: 15px;
}

.envelope {
  position: relative;
  cursor: pointer;
}

.back {
  position: center;
  width: 375px;
  height: 200px;
  background: #a6a6a6;
}

.front {
  position: absolute;
  border-right: 205px solid #b5b5b5;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  top: 0;
  left: 170px;
  z-index: 3;
}

.front:before {
  content: "";
  position: absolute;
  border-left: 205px solid #b5b5b5;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  top: -98px;
  left: -170px;
}

.front:after {
  content: "";
  position: absolute;
  border-bottom: 107px solid #959393;
  border-left: 186px solid transparent;
  border-right: 186px solid transparent;
  height: 0;
  width: 0;
  top: -5px;
  left: -166px;
}

.top {
  position: absolute;
  border-top: 107px solid #dfdcdc;
  border-left: 186px solid transparent;
  border-right: 186px solid transparent;
  height: 0;
  width: 0;
  top: 0;
  transform-origin: top;
  transition: 0.4s;
}

.envelope:active .top {
  transform: rotateX(180deg);
}

.letter {
  position: absolute;
  background: white;
  width: 300px;
  height: 210px;
  top: 10px;
  left: 35px;
  transition: 0.5s;
}

.envelope:active .letter {
  transform: translateY(-150px);
  z-index: 2;
}

.text1 {
  font-size: 13px;
  text-align: center;
  position: absolute;
  color: rgb(0, 0, 0);
  font-family: poppins, sans-serif;
  /* top: -60px; */
  z-index: 1;
}

.text {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  font-family: Indie Flower;
  margin-top: 20px;
  color: rgb(34, 34, 34);
}

/* Media Queries */

/* Laptop or Pc */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
    font-family: poppins;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
    font-family: poppins;
    .row {
      flex-direction: column;
    }
  }

  #joki-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5;
    font-size: 2rem;
    font-weight: 400;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
    font-family: poppins;
  }
}
